*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     background-image: url("assets/Akangenesis.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    
}

.form{
    margin-top:10rem;
    background:linear-gradient(to bottom,rgba(20, 5, 105, 0.7),rgba(69, 151, 49, 0.6),rgba(27,56,0,.8));
    border-radius: 10px;
    color: #fff;
   

}
form{
    height: 400px;
    padding: auto;
    
}
h2{
font-family: 'Roboto', sans-serif;
font-family: 'Romanesco', cursive;
font-size: 3rem;
color: #444;
font-weight: 600;
padding: 10px;

}
hr{
    color: rgb(121, 11, 62);
    font-weight: 900;
    outline: gold;
}
img{
    padding: 5px;
}
.card{
    margin-top: 10rem;
}
.card-img-top{
height: 500px;
}
.radio{
    font-size: 1.8rem;
    padding:30px;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 20px;
}